<h1>{{ name }}</h1>
<dl>
  <td>>> Name:</td>
  <dd>{{ name }}</dd>

  <td>>> Age:</td>
  <dd>{{ age }}</dd>

  <td>>> Method:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>>> Capitalized:</td>
  <dd>{{ capitalizeName }}</dd>
</dl>

<div id="main-buttons">
  <!-- 
    *ngif: en las propiedades de angular no tengo que especificar llaves para la interpolación... ({{ name }} -> name) 
    -->
  <button
    *ngIf="name !== 'Spiderman'"
    class="btn btn-primary"
    (click)="changeHeroName('Spiderman')"
  >
    Change Name
  </button>
  <button
    *ngIf="age !== 25"
    class="btn btn-primary"
    (click)="changeHeroAge(25)"
  >
    Change Age
  </button>
  <button class="btn btn-primary" (click)="resetForm()">Reset Form</button>
</div>
